
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* กล่องหลัก */
.forgotpw-container {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(18px);
    padding: 45px 35px;
    border-radius: 35px;
    box-shadow: 0 20px 45px rgba(0,0,0,0.25);
    width: 100%;
    max-width: 420px;
    text-align: center;
}

/* หัวข้อใหญ่ */
h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #111;
}

/* คำอธิบาย */
h3 {
    font-size: 14px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
}

/* label */
h2 {
    font-size: 15px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
}

/* input */
input {
    width: 75%;
    padding: 18px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    font-size: 14px;
}

/* กล่องปุ่ม */
.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* ปุ่มย้อนกลับ */
.btn-back {
    flex: 1;
    background: #d9d9d9;
    border: none;
    padding: 13px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}
.btn-confirm:hover {
    background: #ffffff;
    transform: translateY(-5px);
}

/* ปุ่มยืนยัน */
.btn-confirm {
    flex: 1;
    background: #f1c40f;
    border: none;
    padding: 13px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn-confirm:hover {
    background: #d4ac0d;
    transform: translateY(-2px);
}